#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  overflow-x: hidden;
  margin: 0;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html {

  background-color: black;
}

.navLink:hover {
  color: #f5826f !important;
}

.generalContainer {
  margin-top: 90px;
}

.sliderheight {
  /*  Adjust this height as needed */
  height: 80vh;
  overflow: hidden;
}

.centerImage1Height {
  transform: translateY(-5%);

}

.centerImage2Height {
  transform: translateY(-25%);
}

.centerImage3Height {
  transform: translateY(-5%);
}

.biographyContainer {
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 19px;
}

.artContainer {
  padding-top: 5%;
  padding-bottom: 5%;
  background: #f5826f;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.artRow {
  margin-top: 100px;
}

.text {
  text-align: justify;
}

.seeMoreArts {
  background-color: #f5826f !important;
  border: 1px solid white !important;
  color: white !important;
  padding: 1% !important;
  transition: top ease 0.5s;
}

.seeMoreArts:hover{
  background-color: white !important;
  border: white !important;
  color: #f5826f !important;
  padding: 1% !important;
}

.screenTitleHeight {
  height: 30vh;
  overflow: hidden;
  position: relative; /* Make the parent container relative */
}

.centerScreenTitleImage{
  transform: translateY(-8%);
}

.overlayScreenTitleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  z-index: 1; /* Ensure the overlay is on top of the image */
}

.textScreenTitleImage {
  position: absolute;
  top: 30%;
  left: 3%;
  z-index: 1; /* Ensure the overlay is on top of the image */
  font-size: 50px;
}

.biographyContent {
  /* margin-top: 5%; */
  background-color: #edede9;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 22px;
}

.biographyOverlayImage{
  position: absolute;
  top: 41%;
  left: 38%;
  width: 200px;
  height: 200px;
}

.articleContainer {
  padding-top: 8%;
  padding-bottom: 8%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.articleImages {
  height: 99%;
  width: 100%;
  position: relative;
}

.test {
  padding: 10px;
  box-sizing: border-box;  /* ensures padding/border are included in width/height */
}











/* TABLET */
@media (max-width: 1200px) {
  .sliderheight {
    height: 40vh; 
  }

  .biographyOverlayImage{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 100px;
    height: 100px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .sliderheight {
    height: 30vh; 
  }

  .biographyOverlayImage{
    position: absolute;
    top: 43%;
    left: 75%;
    width: 100px;
    height: 100px;
  }
}